:root {
    --color-primary-dark: #222;
    --color-primary-light: #F7F5F2;
    --color-brand-light: #E4DFFF;
    --color-brand-normal:  #D0EBFF ;
    --color-secondary-green: #C6F6D5;
    --color-secondary-pink: #FFE6E6 ;
    --color-secondary-yellow: #FFF4CC;
    --color-accent-blue: #3B82F6;
    --color-accent-blue-hover: #2563EB;
    --color-neutral-grey: #EDEDED;
    --color-text-light: #fff;    
}

$sm: 544px;
$md: 769px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;